<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.7.5.1</string>
	<key>NSPrincipalClass</key>
	<string>OEGameCoreController</string>
	<key>OEGameCoreClass</key>
	<string>GenPlusGameCore</string>
	<key>OEGameCoreOptions</key>
	<dict>
		<key>openemu.system.gg</key>
		<dict>
			<key>OEGameCoreRewindBufferSeconds</key>
			<integer>60</integer>
			<key>OEGameCoreRewindInterval</key>
			<integer>0</integer>
			<key>OEGameCoreSupportsCheatCode</key>
			<true/>
			<key>OEGameCoreSupportsDisplayModeChange</key>
			<true/>
			<key>OEGameCoreSupportsRewinding</key>
			<true/>
		</dict>
		<key>openemu.system.scd</key>
		<dict>
			<key>OEGameCoreRequiresFiles</key>
			<true/>
			<key>OEGameCoreRewindBufferSeconds</key>
			<integer>60</integer>
			<key>OEGameCoreRewindInterval</key>
			<integer>0</integer>
			<key>OEGameCoreSupportsCheatCode</key>
			<true/>
			<key>OEGameCoreSupportsRewinding</key>
			<true/>
			<key>OERequiredFiles</key>
			<array>
				<dict>
					<key>Description</key>
					<string>Mega-CD Model 1 (EU 921027) BIOS 1.00</string>
					<key>MD5</key>
					<string>e66fa1dc5820d254611fdcdba0662372</string>
					<key>Name</key>
					<string>BIOS_CD_E.bin</string>
					<key>Size</key>
					<integer>131072</integer>
				</dict>
				<dict>
					<key>Description</key>
					<string>Sega CD Model 1 (US 921011) BIOS 1.10</string>
					<key>MD5</key>
					<string>2efd74e3232ff260e371b99f84024f7f</string>
					<key>Name</key>
					<string>BIOS_CD_U.bin</string>
					<key>Size</key>
					<integer>131072</integer>
				</dict>
				<dict>
					<key>Description</key>
					<string>Mega-CD Model 1 (JP 911217) BIOS 1.00p</string>
					<key>MD5</key>
					<string>278a9397d192149e84e820ac621a8edd</string>
					<key>Name</key>
					<string>BIOS_CD_J.bin</string>
					<key>Size</key>
					<integer>131072</integer>
				</dict>
			</array>
		</dict>
		<key>openemu.system.sg</key>
		<dict>
			<key>OEGameCoreRewindBufferSeconds</key>
			<integer>60</integer>
			<key>OEGameCoreRewindInterval</key>
			<integer>0</integer>
			<key>OEGameCoreSupportsCheatCode</key>
			<true/>
			<key>OEGameCoreSupportsRewinding</key>
			<true/>
		</dict>
		<key>openemu.system.sg1000</key>
		<dict>
			<key>OEGameCoreRewindBufferSeconds</key>
			<integer>60</integer>
			<key>OEGameCoreRewindInterval</key>
			<integer>0</integer>
			<key>OEGameCoreSupportsCheatCode</key>
			<true/>
			<key>OEGameCoreSupportsRewinding</key>
			<true/>
		</dict>
		<key>openemu.system.sms</key>
		<dict>
			<key>OEGameCoreRewindBufferSeconds</key>
			<integer>60</integer>
			<key>OEGameCoreRewindInterval</key>
			<integer>0</integer>
			<key>OEGameCoreSupportsCheatCode</key>
			<true/>
			<key>OEGameCoreSupportsRewinding</key>
			<true/>
		</dict>
	</dict>
	<key>OEGameCorePlayerCount</key>
	<string>8</string>
	<key>OEProjectURL</key>
	<string>https://github.com/ekeeke/Genesis-Plus-GX</string>
	<key>OESystemIdentifiers</key>
	<array>
		<string>openemu.system.sg1000</string>
		<string>openemu.system.gg</string>
		<string>openemu.system.sms</string>
		<string>openemu.system.sg</string>
		<string>openemu.system.scd</string>
	</array>
	<key>SUEnableAutomaticChecks</key>
	<string>1</string>
	<key>SUFeedURL</key>
	<string>https://raw.github.com/OpenEmu/OpenEmu-Update/master/genesisplus_appcast.xml</string>
</dict>
</plist>
